#artDisplayBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  border-style: solid;
  border-width: 2px;
}

#imageSlot {
  /* Gi mer plass til bildet enn til teksten og lydspilleren */
  flex-grow: 2;
  flex-basis: 500px;
}

svg {
  /* Passe på at bildet ikke blir for stort */
  max-height: 70vh;
}

#soundTextBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-start;
  /* align-content: center; */

  flex-grow: 1;
  flex-basis: 200px;

  /* background: green; */
}

#text {
  /* For å få med linjeskift */
  white-space: pre;
  white-space: pre-line;

  margin: 10px 10px 10px 10px;

  /* flex-grow: 1; */

  /* background: yellow; */
}
